/* style.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

form {
  margin-top: 20px;
}

.input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #272727;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
}

input[type="submit"] {
  background-color: #005e10;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #1f9e23;
}

.error-message {
  color: red;
  margin-top: 8px;
  font-size: 14px;
}

form .error {
  border: 1px solid red;
}

.input-container label i {
  margin-right: 5px; 
}

.login-section {
  margin-top: 20px; 
  text-align: center; 
  font-size: 14px; 
}

.login-section a {
  color: #007bff; 
  text-decoration: none; 
}

.login-section a:hover {
  text-decoration: underline; 
}